<ion-content style="background-color: #c6e7f0">
  <div style="text-align: center;height: 230px;padding-top: 30px;">
    <img src="./assets/imgs/login.png" style="height:90%">
  </div>
    <ion-grid style="background-color: #d3f1f9;text-align: center; height: 140px;">
      <ion-row>
        <ion-col col-12></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-2><button ion-fab mini style="background-color:#ffffff; color: #59b5c0"><i class="fa fa-envelope" aria-hidden="true"></i></button></ion-col>
        <ion-col col-2><button ion-fab mini style="background-color:#ffffff; color: #3b5998"><i class="fa fa-facebook" aria-hidden="true"></i></button></ion-col>
        <ion-col col-2><button ion-fab mini style="background-color:#ffffff; color: #d62d20"><i class="fa fa-google" aria-hidden="true"></i></button></ion-col>
        <ion-col col-2><button ion-fab mini style="background-color:#ffffff; color: #00aced"><i class="fa fa-twitter" aria-hidden="true"></i></button></ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <ion-row style="line-height: 20px;">
        <ion-col col-3></ion-col>
        <ion-col col-2><hr style="height:0px;border:none;border-top:1px solid #acacac;"/></ion-col>
        <ion-col col-2><span style="color: #acacac;">OR</span></ion-col>
        <ion-col col-2><hr style="height:1px;border:none;border-top:1px solid #acacac;"/></ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
    </ion-grid>
  <form style="width:  100%;text-align:  center; padding-top: 40px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
    <ion-list style="margin: 0; padding-left: 16px; padding-right: 16px; padding-bottom: 30px;">
      <ion-item
        style="background-color: #f3f8f8;border:  none;border-radius: 20px; color:#344b67;">
        <ion-input type="text" #projectname id="projectname" value="" placeholder="手機號"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list style="margin: 0; padding-left: 16px; padding-right: 16px; padding-bottom: 10px;">
      <ion-item
        style="background-color: #f3f8f8;border:  none;border-radius: 20px; color:#344b67;">
        <ion-input type="text" #projectname id="projectname" value="" placeholder="密碼"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div style="padding-left: 130px; padding-right: 130px;">
    <button ion-button round (click)="save()" style="width:100%;">登錄</button>
  </div>
  <div style="padding-left: 130px; padding-right: 130px; padding-top: 20px;">
    <button ion-button round (click)="save()" style="width:100%;background-color: transparent;color: #59b5c0;border-style: solid;border-width:  3px;font-weight:  bold;">註冊</button>
  </div>
</ion-content>
