<div style="background-color: #FFFFFF">
  <div style="text-align: center;height: 230px;padding-top: 60px;">
    <img src="../../assets/imgs/login.png" style="height:90%">
  </div>
  <div style="background-color: #f7f7f7;text-align: center;height: 110px;line-height: 55px;">
    <div style="padding-top: 5px;">
      <button  style="background-color:#ffffff; color: #3b5998"><i class="fa fa-facebook" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button  style="background-color:#ffffff; color: #d62d20"><i class="fa fa-google" aria-hidden="true"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button  style="background-color:#ffffff; color: #9ad85e"><i class="fa fa-wechat" aria-hidden="true"></i></button>
    </div>
    <div>
      <table width="200px;" align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td width="120px;" height="10px;">
            <hr style="height:1px;border:none;border-top:1px solid #acacac;"/>
          </td>
          <td height="10px;" width="60px;"><span style="color: #acacac; font-size: 12px;">OR</span></td>
          <td width="120px;" height="10px;">
            <hr style="height:1px;border:none;border-top:1px solid #acacac;"/>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <form style="width:  100%;text-align:  center; padding-top: 10px; padding-bottom: 10px;">
    <table cellspacing="0" width="100%">
      <tr>
        <td height="60px;" align="right">
            <input  placeholder="First name">
        </td>
        <td align="left">
            <input  placeholder="Last Name" style="text-transform:none;">
        </td>
      </tr>
      <tr>
        <td height="60px;" colspan="2">
            <input  placeholder="User name / Email address">
        </td>
      </tr>
      <tr>
        <td height="60px;" colspan="2">
            <input  placeholder="Password">
        </td>
      </tr>
    </table>
  </form>
  <div style="height:-moz-calc(100vh - 607px); height:-webkit-calc(100vh - 607px); height: calc(100vh - 607px); text-align: center; background-color: #f7f7f7; line-height: calc(100vh - 607px);">
    <button  style="background-color:#63d376; color: #ffffff; border-radius: 22px; width: 260px;">Register</button>
  </div>
</div>
