<!--<ion-header [elasticHeader]="chatContent" [hidden]="QRScaning">
  <ion-navbar style="background: none transparent;">
    <ion-buttons start style="width:  35px;text-align:  center;">
      <button ion-button icon-only color="royal" (click)="StartScan()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      style="background: none transparent; border-bottom: none; width: 100%; padding: 0 0;">
    </ion-searchbar>
    <ion-buttons end style="width:  35px;text-align:  center;"
                 (click)="openModalNewShare(auth.currentUserId)">
      <button ion-button icon-only color="royal">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #c6e7f0;" fullscreen #chatContent>
  <app-chat-threads [searchContent] = "myInput"></app-chat-threads>
</ion-content>-->
<ion-content style="background-color: #c6e7f0;" fullscreen #chatContent>
  <div style="height: 20px;"></div>
  <app-chat-threads></app-chat-threads>
</ion-content>
