<!--<mat-form-field>-->

  <!--<input matInput placeholder="Send message" [(ngModel)]="message" (keydown)="handleSubmit($event)">-->

  <!--<mat-icon matSuffix (click)="send()">send</mat-icon>-->
<!--</mat-form-field>-->
<form style="position: fixed; height: 70px; bottom: 0; left: 0; right: 0; width: 100%; background-color:  #ffffff;">
<div style="padding: 10px;">
  <ion-input  placeholder="Send message" [(ngModel)]="message" name = "sss" (keydown)="handleSubmit($event)" style="border-style:solid;border-width:1px;border-color:#eeeeee;border-radius:  5px;padding-left: 10px;"></ion-input>
</div>
</form>
