// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$popover-ios-width : 320px;
$popover-ios-max-height : 70%;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #59b5c0,
  secondary:  #59b5c0,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Font Awesome
$fa-font-path: $font-path;
@import "font-awesome";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Hacks for font awesome icons in tabbar
// see https://forum.ionicframework.com/t/anyway-to-custom-the-tabbars-icon-with-my-own-svg-file/46131/2
// the content code of each fa-icon can be found here: 'node_modules/font-awesome/css/font-awesome.css'
.fa-icons-general {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ion-ios-fa-child::before,
.ion-ios-fa-child-outline::before,
.ion-md-fa-child::before {
  @extend .fa-icons-general;
  content: "\f1ae";
}

.ion-ios-fa-asterisk::before,
.ion-ios-fa-asterisk-outline::before,
.ion-md-fa-asterisk::before {
  @extend .fa-icons-general;
  content: "\f2ba";
}

.ion-ios-fa-user::before,
.ion-ios-fa-user-outline::before,
.ion-md-fa-user::before {
  @extend .fa-icons-general;
  content: "\f1d8";
}

.ion-ios-fa-street-view::before,
.ion-ios-fa-street-view-outline::before,
.ion-md-fa-street-view::before {
  @extend .fa-icons-general;
  content: "\f21d";
}

$range-ios-knob-background-color: #f3f8f8;
