<ion-header [elasticHeader]="friendContent" [hidden]="QRScaning">
  <ion-navbar style="background: -webkit-linear-gradient(#fff 30%, #c6e7f0);">
    <!--<ion-buttons start style="width:  35px;text-align:  center;">
      <button ion-button icon-only color="royal" (click)="StartScan()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons start style="width:  35px;text-align:  center; padding-top: 3px;">
      <img src="./assets/imgs/loading.gif">
    </ion-buttons>
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"

      #searchContent
      style="background: none transparent; border-bottom: none; width: 100%; padding: 0 0;">
    </ion-searchbar>
    <!--<ion-buttons end style="width:  35px;text-align:  center;"
                 (click)="openModalNewShare(auth.currentUserId)">
      <button ion-button icon-only color="royal">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons end style="width:  35px;text-align:  center;">
      <button ion-button icon-only color="royal" (click)="StartScan()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #c6e7f0;" [hidden]="QRScaning" fullscreen #friendContent>
  <div style="width: 100%; text-align: center; padding-bottom: 10px;background-color: #c6e7f0;">
    <div style="background-position-x: 100%;background-size: 100%;background-repeat:  no-repeat;">
      <div style="text-align: center; width:140px; margin: 0 auto;">
        <img src="./assets/imgs/login.png">
      </div>
    </div>
  </div>
  <!--<div style="height: calc(100vh); text-align: center;" [hidden]="QRScaning" [hidden]="Step2">-->
  <!--<div style="text-align: center;height: 430px;padding-top: 0px; display: inline-block; vertical-align: top;"-->
  <!--[@bounce1]="bounce1">-->
  <!--<img src="./assets/imgs/spider1.png" style="width: 40px;">-->
  <!--</div>-->
  <!--<div style="text-align: center;height: 400px;padding-top: 60px; display: inline-block;">-->
  <!--<img src="./assets/imgs/ghost.png" style="height:90%">-->
  <!--</div>-->
  <!--<div style="text-align: center;height: 430px;padding-top: 0px; display: inline-block; vertical-align: top;"-->
  <!--[@bounce2]="bounce2">-->
  <!--<img src="./assets/imgs/spider2.png" style="width: 40px;">-->
  <!--</div>-->
  <!--<div style="text-transform:none; text-align:center; padding-top: 0px; color: #1b3554; font-size: 18px;">-->
  <!--Better With Friends.-->
  <!--</div>-->
  <!--<div style="text-transform:none; text-align:center; padding-top: 10px; color: #1b3554; font-size: 14px;">-->
  <!--Add Some Friends.-->
  <!--</div>-->
  <!--<div style="text-align:center; padding-top: 60px;">-->
  <!--<button ion-fab color="primary" style="margin: auto;" (click)="nextStep()"><i class="fa fa-plus"-->
  <!--aria-hidden="true"></i></button>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div style="background-color: #c6e7f0; height: 100%" [hidden]="!Step2">-->
  <!--<app-friends-list></app-friends-list>-->
  <!--</div>-->
  <div *ngIf="!goActivityPeople" style="background-color: #c6e7f0; height: 100%">
    <app-friends-list [searchContent] = "myInput"></app-friends-list>
  </div>
  <div *ngIf="goActivityPeople" style="background-color: #c6e7f0; height: 100%">
    <activity-people></activity-people>
  </div>
</ion-content>

<ion-content style="background: none transparent;" [hidden]="!QRScaning">
  <ion-grid style="height: 100%">
    <ion-row>
      <ion-col col-12 style="height: 100px;"></ion-col>
    </ion-row>
    <ion-row style="height: 220px;">
      <ion-col col-2></ion-col>
      <ion-col col-8>
        <div style="width: 200px;height: 200px;margin:  auto;text-align: center;">
          <ion-icon style="font-size: 220px; color: #f6f9fa;" name="qr-scanner"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="height: 60px; color:#ffffff; text-align: center;">Place QR Code inside the box</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="height: 180px;"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="height: 60px;">
        <ion-fab right bottom>
          <button ion-fab style="background-color: #ff6363;" (click)="EndScan()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
