<ion-content>
  <div style="height: calc(100vh - 710px); width: 100%"></div>
  <div style="width: 100%; text-align: center;">
    <img src="./assets/imgs/icon.png" style="height:120px;">
  </div>
  <div
    style="text-align:  center;height: 30px;line-height: 40px;font-size:  22px;color:  rgb(85, 85, 85);font-weight:  bold;">
    歡迎來到 "拼了"
  </div>
  <div
    style="text-align:  center;height: 60px;line-height: 40px;font-size:  16px;color:  rgb(204, 204, 204);font-weight:  bold;">
    拼出新天地
  </div>
  <form [formGroup]="signInForm" (ngSubmit)="signIn()"
        style="width:  100%;text-align:  center; padding-top: 30px;">
    <table width="100%">
      <tr>
        <td align="center">
          <ion-list style="margin: 0; padding-bottom: 20px;">
            <ion-item
              style="background-color: #f3f8f8;border: #b5b5b5;border-radius: 10px;color:#344b67;border-width:  1px;border-style:  double; width: 300px;">
              <ion-input placeholder="電子郵件地址" [formControl]="email" required></ion-input>
              <div *ngIf="password.valid">Not a valid password</div>
            </ion-item>
          </ion-list>
        </td>
      </tr>
      <tr>
        <td align="center">
          <ion-list style="margin: 0; padding-bottom: 10px; width: 100%;">
            <ion-item
              style="background-color: #f3f8f8;border: #b5b5b5;border-radius: 10px;color:#344b67;border-width:  1px;border-style:  double; width: 300px;">
              <ion-input placeholder="密碼" [formControl]="password" required></ion-input>
              <div *ngIf="password.valid">Not a valid password</div>
            </ion-item>
          </ion-list>
        </td>
      </tr>
    </table>
    <div style="text-align: center;width:  100%;">
      <button ion-button type="submit" style="width:300px;border-radius:  10px;">登錄</button>
    </div>
    <div
      style="text-align: center;width:  100%; color: rgb(85, 85, 85); font-weight: bold; font-size: 16px; height: 40px; line-height: 40px;">
      或
    </div>
  </form>
  <div style="text-align: center;width:  100%;">
    <button ion-button icon-start style="width:300px;border-radius:  10px; background-color: #3b5998;"
            (click)="facebookSignin()">
      <ion-icon name='logo-facebook'></ion-icon>
      使用Facebook賬號登錄
    </button>
  </div>
  <div style="text-align: center;width:  100%;padding-top:  6px;">
    <button ion-button icon-start style="width:300px;border-radius:  10px; background-color: #d62d20;"
            (click)="auth.googleLogin()">
      <ion-icon name='logo-google'></ion-icon>
      使用Google賬號登錄
    </button>
  </div>
  <div style="padding-top: 10px;text-align: center;width:  100%;">
    <button ion-button clear style="color: rgb(85, 85, 85); font-weight: bold;" (click)="signUp()">註冊</button>
  </div>
</ion-content>
