// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  background: transparent !important;
  //background-color: #f6f9fa;
}

.progress-ind-last {
  background-color: #607483;
  border-radius: 40px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  box-shadow: 0px 2px 6px #aaaaaa;
}

.progress-ind-now {
  background-color: #e13838;
  border-radius: 42px;
  color: #ffffff;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  box-shadow: 0px 2px 6px #aaaaaa;
}

.progress-ind-next {
  background-color: #ffffff;
  border-radius: 40px;
  color: #607483;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  box-shadow: 0px 2px 6px #aaaaaa;
}

.progress-bar {
  background-color: #607483;
  height: 1px;
}

.item-input {
  background-color: #f3f8f8;
  border: none;
  border-radius: 10px;
  color: #344b67;
}

.head-icon {
  border-radius: 5px;
  width: 45px;
}

.head-icon-name {
  text-align: center;
  font-size: 12px;
}

.user-main-button {
  border-color: #bbbbbb;
  border-width: 1px;
  border-style: solid;
  background-color: #ffffff;
  color: #bbbbbb;
  font-size: 17px;
  font-weight: bold;
  width: 45px;
  height: 45px;
}

.progress-outer {
  width: 90%;
  margin: 10px 2%;
  padding: 3px;
  text-align: center;
  background-color: #f3f8f8;
  border: 0px solid #dcdcdc;
  color: #fff;
  border-radius: 20px;
}

.progress-inner {
  min-width: 15%;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  border-radius: 20px;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#01f1a5), to(#59b5c0));
}

.loading-inner {
  //background: -webkit-radial-gradient(#ffffff, #c6e7f0)
}

.md, .ios, .wp {
  .loading-wrapper {
    //opacity: 1; background: -webkit-radial-gradient(#ffffff 65%, #c6e7f008 70%);width:  100px;height:  100px;
    padding: 10px 10px;
    //background: -webkit-radial-gradient(#ffffff, #c6e7f0)
  }

  .loading-ios .loading-content{
    width: 100%;
    text-align: center;
  }

  .chat-feed {
    overflow-y: scroll;
    overflow: auto;
    height: calc(100vh - 158px);
  }
}

.loginButton {
  background-color: #ffffff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px #aaaaaa;
}

.toolbar-background{
  background-color: #ffffff;
}

.top-nav{
  height: 160px;
  background-size:  auto 100%;
  background-repeat:  no-repeat;
  background-position: center;
  margin: 20px;
}

.top-button{
  font-size: 24px;
  padding-left: 0px;
  height: 20px;
  background-color: transparent;
  color: #59b5c0;
}

.item-ios.item-block .item-inner{
  border-bottom: none;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios{
  background: transparent;
  border: none;
}

.toolbar-title-ios .toolbar-title{
  font-size:  16px;
  color:  #55687f;
}

.spanStyle{
  white-space: nowrap;  /*强制span不换行*/
  display: inline-block;  /*将span当做块级元素对待*/
  width: 16px;  /*限制宽度*/
  overflow: hidden;  /*超出宽度部分隐藏*/
  text-overflow: ellipsis;  /*超出部分以点号代替*/
  line-height: 0.9;  /*数字与之前的文字对齐*/
}

/*

::-webkit-scrollbar {
  display:none !important;
  margin: 0px !important;
}

.scroll-content{
  border-top: none !important;
  overflow-y: auto !important;
}

.popover-style .popover-content{
  border-radius: 0px;
  top: 0px !important;
  opacity:1;
  width: 100%;
  left: 0px !important;
  background: rgba(0, 0, 0, 0.8);
}

.scroll-bar {
  visibility: hidden !important;
}
*/

.custom-spinner-container{
  background: -webkit-linear-gradient(#c6e7f0 10%, #ffffff 40%, #c6e7f0 80%);
}
/*
.scroll-content {
  overflow-y:auto;
}

.scroll-content {overflow-y: auto;}

::-webkit-scrollbar, *::-webkit-scrollbar { display: none; }*/
