<ion-item-sliding style="background-color: #c6e7f0;">
  <ion-item (click)="goIn()" style="height: 55px; background-color: #c6e7f0;">
    <ion-thumbnail item-start style="min-width:  40px;min-height:  40px;">
      <img style="border-radius: 5px; width: 40px; height: 40px;" [src]="friend.bfphotourl  || '//:0'">
    </ion-thumbnail>
    <ion-label>
      <div style="color: #1b3554; font-size: 17px;">{{friend.bfdisplayname || friend.bfemail}}</div>
      <p></p>
    </ion-label>
  </ion-item>
  <ion-item-options side="right">
    <button ion-button style="background-color: #e13838;" (click)="delete(friend.bfuid)">
      <ion-icon name="close" style="font-weight: bold;"></ion-icon>
      Delete
    </button>
  </ion-item-options>
</ion-item-sliding>
