<!--步驟1-->
<ion-content style="background-color: #c6e7f0;" *ngIf="status==0">
  <div style="background-image: url('./assets/imgs/account.png'); background-position-y:20px;" class="top-nav">
    <button ion-button (click)="dismiss()" style="font-size: 24px;padding-left: 0px;height: 20px;background-color: transparent;color: #59b5c0;">
      <ion-icon ios="md-arrow-back"></ion-icon>
      <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
    </button>
  </div>
  <table width="100%" cellspacing="10px;">
    <tr>
      <td align="center" height="80">
        <div class="progress-outer">
          <div class="progress-inner" style="width: 25%">
            第一步
          </div>
        </div>
      </td>
    </tr>
  </table>
  <form [formGroup]="fieldvalue1stForm">
    <ion-list style="margin: 0; padding-left: 16px; padding-right: 16px; padding-bottom: 16px;">
      <ion-item
        style="background-color: #fafafa;border-width: 1px;border-color: #e3e4e6;border-style: solid;border-radius: 10px;color:#344b67;">
        <ion-label>份額</ion-label>
        <ion-select [(ngModel)]="gaming" interface="popover" formControlName="field1">
          <ion-option value="1" selected="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list style="margin: 0; padding-left: 16px; padding-right: 16px;">
      <ion-item
        style="background-color: #fafafa;border-width: 1px;border-color: #e3e4e6;border-style: solid;border-radius: 10px;color:#344b67;">
        <ion-label floating>備註</ion-label>
        <ion-input type="text" value="" formControlName="field2"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div padding>
    <button ion-button (click)="commit1st()" style="width:100%; border-radius: 10px;">舉手報名</button>
  </div>
</ion-content>

<!--步驟2-->
<ion-content style="background-color: #c6e7f0;" *ngIf="status==1">
  <div style="background-image: url('./assets/imgs/account.png'); background-position-y:20px;" class="top-nav">
    <button ion-button (click)="dismiss()" style="font-size: 24px;padding-left: 0px;height: 20px;background-color: transparent;color: #59b5c0;">
      <ion-icon ios="md-arrow-back"></ion-icon>
      <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
    </button>
  </div>
  <table width="100%" cellspacing="10px;">
    <tr>
      <td align="center" height="80">
        <div class="progress-outer">
          <div class="progress-inner" style="width: 50%;">
            第二步
          </div>
        </div>
      </td>
    </tr>
  </table>
  <form [formGroup]="fieldvalue2ndForm">
    <ion-list>
      <ion-item-divider color="light">
        <ion-checkbox formControlName="field3"></ion-checkbox>
        <ion-label>全選</ion-label>
      </ion-item-divider>
      <ion-item-sliding>
        <ion-item style="background-color: #f3f8f8;border:  none;color:#344b67;">
          <ion-checkbox formControlName="field3"></ion-checkbox>
          <ion-avatar item-start>
            <img src="./assets/imgs/emoji2.png">
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>Don't Know What To Do!</h3>
            <p>I've had a pretty messed up day. If we just...</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary">
            <ion-icon name="information-circle"></ion-icon>
            Detail
          </button>
          <button ion-button color="dark">
            <ion-icon name="close" style="font-weight: bold;"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item style="background-color: #f3f8f8;border:  none;color:#344b67;">
          <ion-checkbox formControlName="field3"></ion-checkbox>
          <ion-avatar item-start>
            <img src="./assets/imgs/emoji1.png">
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>Don't Know What To Do!</h3>
            <p>I've had a pretty messed up day. If we just...</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary">
            <ion-icon name="information-circle"></ion-icon>
            Detail
          </button>
          <button ion-button color="dark">
            <ion-icon name="close" style="font-weight: bold;"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </form>
  <div padding>
    <button ion-button (click)="dismiss()" style="width:100%; border-radius: 10px;">發起拼單</button>
    <button ion-button (click)="dismiss()" style="width:100%;background-color: #e13838; border-radius: 10px;">
      撤銷我的拼單
    </button>
  </div>
</ion-content>

<!--步驟3-->
<ion-content style="background-color: #c6e7f0;" *ngIf="status==2">
  <div style="background-image: url('./assets/imgs/account.png'); background-position-y:20px;" class="top-nav">
    <button ion-button (click)="dismiss()" style="font-size: 24px;padding-left: 0px;height: 20px;background-color: transparent;color: #59b5c0;">
      <ion-icon ios="md-arrow-back"></ion-icon>
      <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
    </button>
  </div>
  <table width="100%" cellspacing="10px;">
    <tr>
      <td align="center" height="80">
        <div class="progress-outer">
          <div class="progress-inner" style="width: 75%;">
            第三步
          </div>
        </div>
      </td>
    </tr>
  </table>
  <form [formGroup]="fieldvalue3rdForm">
    <ion-list style="margin: 0; padding-left: 16px; padding-right: 16px; padding-bottom: 32px;">
      <ion-item
        style="background-color: #f3f8f8;border:  none;border-radius: 20px; color:#344b67;">
        <ion-label floating>總金額</ion-label>
        <ion-input type="text" value="" formControlName="field4"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div padding>
    <button ion-button (click)="dismiss()" style="width:100%; border-radius: 10px;">完成拼單待結算</button>
    <button ion-button (click)="dismiss()" style="width:100%;background-color: #e13838; border-radius: 10px;">
      撤銷我的拼單
    </button>
  </div>
</ion-content>

<!--步驟4-->
<ion-content style="background-color: #c6e7f0;" *ngIf="status==3">
  <div style="background-image: url('./assets/imgs/account.png'); background-position-y:20px;" class="top-nav">
    <button ion-button (click)="dismiss()" style="font-size: 24px;padding-left: 0px;height: 20px;background-color: transparent;color: #59b5c0;">
      <ion-icon ios="md-arrow-back"></ion-icon>
      <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
    </button>
  </div>
  <table width="100%" cellspacing="10px;">
    <tr>
      <td align="center" height="80">
        <div class="progress-outer">
          <div class="progress-inner" style="width: 100%;">
            第四步
          </div>
        </div>
      </td>
    </tr>
  </table>
  <form [formGroup]="fieldvalue4thForm">
    <ion-list style="margin: 0; padding-left: 16px; padding-right: 16px; padding-bottom: 32px;">
      <ion-item
        style="background-color: #f3f8f8;border:  none;border-radius: 20px; color:#344b67;">
        <ion-label floating>待確認金額</ion-label>
        <ion-input type="text" value="" formControlName="field5"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div padding>
    <button ion-button (click)="dismiss()" style="width:100%; border-radius: 10px;">確認金額完成拼單</button>
  </div>
</ion-content>

