<ion-header [elasticHeader]="logContent">
  <ion-toolbar>
    <ion-title>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()"
              style="font-size: 24px;color: #59b5c0; padding-left: 10px;">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen #logContent>
  <div style="text-align: right;padding-top:  30px;"><img src="./assets/imgs/clock.png" style="height: 140px;margin-top: -60px; margin-left: 40px;"></div>
  <div class="container">
    <ul>
      <li *ngFor="let sd of showData" style="background-color: #fefefe;"><span></span>
        <div>
          <div class="title">{{sd.des}} - {{sd.createTime.substr(11,8)}}</div>
        </div> <span class="number"><span>{{sd.createTime.substr(0,10)}}</span> <span></span></span>
      </li>
      <!--<li>
        <div><span></span>
          <div class="title">Targui</div>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
          <div class="type">Presentation</div>
        </div> <span class="number"><span>13:00</span> <span>14:00</span></span>
      </li>
      <li>
        <div><span></span>
          <div class="title">Imazighen</div>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
          <div class="type">Review</div>
        </div> <span class="number"><span>15:00</span> <span>17:45</span></span>
      </li>
      <li>
        <div><span></span>
          <div class="title">Imazighen</div>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
          <div class="type">Review</div>
        </div> <span class="number"><span>18:00</span> <span>20:05</span></span>
      </li>-->
    </ul>
  </div>
</ion-content>
