<ion-item style="background-color: #fffcf2; color: #344b67; height: 70px;">
             <span item-start style="font-size:32px;color: #ffc623; width: 36px; text-align: center;">
               <i class="fa fa-child" aria-hidden="true"></i>
             </span>
  <ion-label item-content>
    <span style="line-height: 30px; font-size: 15px;">我要拼單</span>
    <p><span style="color: #828d9c; font-size: 14px;">已有11個人舉手報名{{projectid}}</span></p>
  </ion-label>
  <button ion-fab item-end mini style="background-color: #ffc623;" >
    <ion-icon ios="md-add"></ion-icon>
  </button>
</ion-item>
